@import "variables";
@import "reset";
@import "vertical-rhythm";
@import "typography";

// Tools & Plugins

.group {
  *zoom: 1;
  &:before,
  &:after {
    content: " "; /* 1 */
    display: table; /* 2 */
  }
  &:after {
    clear: both;
  }
}

// Attributes name
.mainarea-contentsection {
  > h1, > h2, > h3, > h4, > h5, > h6, > p {
    position: relative;
    
    &:before {
      font-size: 1 / 1.6 * 1rem;
      line-height: inherit;
      position: absolute;
      left: -45px;
      width: 30px;
      text-align: right;
      font-family: $body-text;
      font-weight: 400;
      opacity: 0.65;

      @include breakpoint(pm) {
        display: none;
      }
    }
  }

  > figure, > ul, > ol {
    position: relative;
    
    &:before {
      font-size: 1 / 1.6 * 1rem;
      line-height: 1rem;
      position: absolute;
      left: -45px;
      width: 30px;
      text-align: right;
      font-family: $body-text;
      font-weight: 400;
      opacity: 0.65;

      @include breakpoint(pm) {
        display: none;
      }
    }
  }

  > h1:before {
    content: "H1";
  }

  > h2:before {
    content: "H2";
  }

  > h3:before {
    content: "H3";
  }

  > h4:before {
    content: "H4";
  }

  > h5:before {
    content: "H5";
  }

  > h6:before {
    content: "H6";
  }

  > p:before {
    content: "P";
  }

  > p + p:before {
    content: ""; 
  }

  > figure:before {
    content: "IMG";
  }

  > ul:before {
    content: "UL";
  }

  > ol:before {
    content: "OL";
  }
}

// Main Styles

body {
  color: $black;
  font-family: $body-text;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.mainarea {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

// Main Area
.mainarea[data-main="black"] {
  background: $black; 

  > .mainarea-logo .shapes {
    fill: $black; 
  }

  + nav li > a {
    color: $black;
  }
}

.mainarea[data-main="white"] {
  background: $white; 

  > .mainarea-logo .shapes {
    fill: $white; 
  }

  + nav li > a {
    color: $white;
  }
}

.mainarea[data-main="yellow"] {
  background: $yellow; 

  > .mainarea-logo .shapes {
    fill: $yellow; 
  }

  + nav li > a {
    color: $yellow;
  }
}

.mainarea[data-main="blue"] {
  background: $blue; 

  > .mainarea-logo .shapes {
    fill: $blue; 
  }

  + nav li > a {
    color: $blue;
  }
}

.mainarea[data-main="red"] {
  background: $red; 

  > .mainarea-logo .shapes {
    fill: $red; 
  }

  + nav li > a {
    color: $red;
  }
}

// Border Area
.mainarea[data-border="black"] {

  > .mainarea-logo .shapes {
    @include breakpoint(t) {
      fill: $black;
    }

    @include breakpoint(lm) {
      fill: $black; 
    }

    @include breakpoint(pm) {
      fill: $black; 
    }
  }
  
  > .mainarea-background > .mainarea-background-svg > .border {
    fill: $black;
  }

  + nav li > a {
    background: $black;

    &:hover {
      background: lighten($black, 18);
    }
  }

  a {
    color: $black;
  }

  .menu-label {
    color: $black;
  }
 
}

.mainarea[data-border="white"] {

  > .mainarea-logo .shapes {
    @include breakpoint(t) {
      fill: $white;
    }

    @include breakpoint(lm) {
      fill: $white; 
    }

    @include breakpoint(pm) {
      fill: $white; 
    }
  }
  
  > .mainarea-background > .mainarea-background-svg > .border {
    fill: $white;
  }

  + nav li > a {
    background: $white;

    &:hover {
      background: lighten($white, 18);
    }
  }

  a {
    color: $white;
  }

  .menu-label {
    color: $white;
  }
 
}

.mainarea[data-border="yellow"] {

  > .mainarea-logo .shapes {
    @include breakpoint(t) {
      fill: $yellow;
    }

    @include breakpoint(lm) {
      fill: $yellow; 
    }

    @include breakpoint(pm) {
      fill: $yellow; 
    }
  }
  
  > .mainarea-background > .mainarea-background-svg > .border {
    fill: $yellow;
  }

  + nav li > a {
    background: $yellow;

    &:hover {
      background: lighten($yellow, 18);
    }
  }

  a {
    color: $yellow;
  }

  .menu-label {
    color: $yellow;
  }
 
}

.mainarea[data-border="blue"] {

  > .mainarea-logo .shapes {
    @include breakpoint(t) {
      fill: $blue;
    }

    @include breakpoint(lm) {
      fill: $blue; 
    }

    @include breakpoint(pm) {
      fill: $blue; 
    }
  }
  
  > .mainarea-background > .mainarea-background-svg > .border {
    fill: $blue;
  }

  + nav li > a {
    background: $blue;

    &:hover {
      background: lighten($blue, 18);
    }
  }

  a {
    color: $blue;
  }

  .menu-label {
    color: $blue;
  }
 
}

.mainarea[data-border="red"] {

  > .mainarea-logo .shapes {
    @include breakpoint(t) {
      fill: $red;
    }

    @include breakpoint(lm) {
      fill: $red; 
    }

    @include breakpoint(pm) {
      fill: $red; 
    }
  }
  
  > .mainarea-background > .mainarea-background-svg > .border {
    fill: $red;
  }

  + nav li > a {
    background: $red;

    &:hover {
      background: lighten($red, 18);
    }
  }

  a {
    color: $red;
  }

  .menu-label {
    color: $red;
  }
 
}

// Free Area
.mainarea[data-free="black"] {
  
  > .mainarea-contentsection {
    color: $black;
  }

  > .mainarea-background > .mainarea-background-svg > .free {
    fill: $black;
  }

  + nav {
    color: $black;
    @include breakpoint(h) {
      background: $black;  
    }
  }
 
}

.mainarea[data-free="white"] {
  
  > .mainarea-contentsection {
    color: $white;
  }

  > .mainarea-background > .mainarea-background-svg > .free {
    fill: $white;
  }

  + nav {
    color: $white;
    @include breakpoint(h) {
      background: $white;  
    }
  }
 
}

.mainarea[data-free="yellow"] {
  
  > .mainarea-contentsection {
    color: $yellow;
  }

  > .mainarea-background > .mainarea-background-svg > .free {
    fill: $yellow;
  }

  + nav {
    color: $yellow;
    @include breakpoint(h) {
      background: $yellow;  
    }
  }
 
}

.mainarea[data-free="blue"] {
  
  > .mainarea-contentsection {
    color: $blue;
  }

  > .mainarea-background > .mainarea-background-svg > .free {
    fill: $blue;
  }

  + nav {
    color: $blue;
    @include breakpoint(h) {
      background: $blue;  
    }
  }
 
}

.mainarea[data-free="red"] {
  
  > .mainarea-contentsection {
    color: $red;
  }

  > .mainarea-background > .mainarea-background-svg > .free {
    fill: $red;
  }

  + nav {
    color: $red;
    @include breakpoint(h) {
      background: $red;  
    }
  }
 
}

.mainarea-logo > svg{
  width: 3rem;
  height: 3rem;
  // position: absolute;
    position: fixed;
  right: 60px;
  bottom: 2.5rem;
  z-index: 30;

  @include breakpoint(t) {
    position: fixed;
    bottom: 2rem;
    width: 2rem;
    height: 2rem;
  }

  @include breakpoint(lm) {
    position: fixed;
    bottom: 2rem;
    width: 2rem;
    height: 2rem;
  }

  @include breakpoint(pm) {
    position: fixed;
    bottom: 2rem;
    width: 2rem;
    height: 2rem;
    right: 20px;
  }
}

.mainarea-contentsection {
  // padding: 3rem 37vw 7rem 60px;
    padding: 3rem 40vw 7rem 60px;
  position: relative;
  z-index: 20;

  > figure > img {
    border: 1rem solid;

    @include breakpoint(pm) {
      border: 0.5rem solid;      
    }
  }

  @media only screen and (max-width: 939px) and (min-width: 768px) {
    padding-right: 20vw;
  }

  @include breakpoint(t) {
    // padding: 2rem 37vw 55vw 60px;
      padding: 2rem 30vw 55vw 60px;

    .mainarea[data-theme="greater"] &, .mainarea[data-theme="parenthesis"] & {
      // padding: 2rem 35vw 65vw 60px;      
        padding: 2rem 20vw 65vw 60px;      
    }
  }
  
  @include breakpoint(lm) {
    padding: 2rem 60px 78vw;
  }

  @include breakpoint(pm) {
    padding: 1.5rem 20px 78vw;
  }
}

.mainarea-background {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;

  @include breakpoint(t) {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
  }

  @include breakpoint(lm) {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
  }

  @include breakpoint(pm) {
    position: static;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
    width: 100%;
  }
}

.mainarea-background-svg {
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;

  @include breakpoint(l) {
    right: -100px;
  }

  @include breakpoint(t) {
    height: 100vw;
    transform: rotate(90deg);
    transform-origin: bottom right;
    top: auto;
    right: 100vw;
    bottom: -15vw;

    .mainarea[data-theme="greater"] &, .mainarea[data-theme="parenthesis"] & {
      height: auto;
      width: 62vw;
      transform: rotate(0deg);
      top: auto;
      right: 0;
      bottom: 0;
    }
  }

  @include breakpoint(lm) {
    height: 100vw;
    transform: rotate(90deg);
    transform-origin: bottom right;
    top: auto;
    right: 100vw;
    bottom: 0;

    .mainarea[data-theme="greater"] &, .mainarea[data-theme="parenthesis"] & {
      height: auto;
      width: 62vw;
      transform: rotate(0deg);
      top: auto;
      right: 0;
      bottom: 0;
    }
  }

  @include breakpoint(pm) {
    height: 100vw;
    transform: rotate(90deg);
    transform-origin: bottom right;
    top: auto;
    right: 100vw;
    bottom: 0;

    .mainarea[data-theme="greater"] &, .mainarea[data-theme="parenthesis"] & {
      height: auto;
      width: 62vw;
      transform: rotate(0deg);
      top: auto;
      right: 0;
      bottom: 0;
    }
  }
}

nav {
  font-family: $title-text;
  position: fixed;
  bottom: 2.5rem;
  left: 60px;
  z-index: 40;
    
  &:before {
    content: "NAV";
    font-size: 1 / 1.6 * 1rem;
    line-height: 1rem;
    position: absolute;
    left: -45px;
    width: 30px;
    text-align: right;
    font-family: $body-text;
    font-weight: 400;
    opacity: 0.65;

    @include breakpoint(t) {
      display: none;
    }

    @include breakpoint(lm) {
      display: none;
    }

    @include breakpoint(pm) {
      display: none;
    }
  }

  @include breakpoint(t) {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 6rem 2rem 60px;
  }

  @include breakpoint(lm) {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 6rem 2rem 60px;
  }

  @include breakpoint(pm) {
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 4rem 2rem 20px;
  }

}

nav > ul {
  padding: 0;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  display: block;
  padding: 0.5rem 10px;
  margin-right: 5px;
  // margin-top: 10px;
  text-decoration: none;
}

/* mobile menu patch */
.menu-label {
  font-family: $body-text;
  font-size: 11px;
  line-height: 2rem;
  color: $black;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  position: fixed;
  z-index: 35;
  right:  10px;
  bottom: 2rem;
  width:  2rem;
  height: 2rem;
  background: none;
  border: none;
  outline: none;
  display: none;
}
@media only screen and (max-width: 767px) {
  #logo:is-active {
    background: $white;
    border-color: $white;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #logo {
    bottom: auto;
    top:   2rem;
    right: 2rem;
  }
  .menu-label {
    bottom: auto;
    top: 3.5rem;
    right: 2rem;
  }
  nav > ul > li:nth-of-type(5) {
    text-align: center;
    width: 100%;
  }
}
@include breakpoint(h) {
  .menu-label {
    display: block;
  }
  #logo {
    bottom: 10px;
  }
  .mainarea-logo > svg {
    cursor: pointer;
    z-index: 50;
    right: 10px;
    border: 5px solid transparent;
    -webkit-transition: 0.3s ease-in-out background, 0.3s ease-in-out border;
       -moz-transition: 0.3s ease-in-out background, 0.3s ease-in-out border;
            transition: 0.3s ease-in-out background, 0.3s ease-in-out border;
  }
  #nav {
    bottom: -100%;
    padding: 5px;
    -webkit-transition: 0.3s ease-in-out bottom;
       -moz-transition: 0.3s ease-in-out bottom;
            transition: 0.3s ease-in-out bottom;
    &.is-active {
      bottom: 0;
    }
  }
  nav > ul > li {
    float: left;
    width: 50%;
    display: block;
    &:nth-of-type(5) {
      width: 84%;
    }
    > a {
      margin: 5px;
    }
  }
}

/* animate page elements */
@-webkit-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
   @-moz-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
     @-o-keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }
        @keyframes fade-in { from { opacity: 0; } to { opacity: 1; } }

#logo, .mainarea-contentsection, nav {
  opacity: 0;
  -webkit-animation: fade-in ease-in 1 0.3s;
     -moz-animation: fade-in ease-in 1 0.3s;
       -o-animation: fade-in ease-in 1 0.3s;
          animation: fade-in ease-in 1 0.3s;
  -webkit-animation-fill-mode: forwards;
     -moz-animation-fill-mode: forwards;
       -o-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-transition: 0.3s ease-in-out opacity;
     -moz-animation-transition: 0.3s ease-in-out opacity;
       -o-animation-transition: 0.3s ease-in-out opacity;
          animation-transition: 0.3s ease-in-out opacity;
}
#logo {
  -webkit-animation-delay: 0.2s;
     -moz-animation-delay: 0.2s;
       -o-animation-delay: 0.2s;
          animation-delay: 0.2s;  
}
.mainarea-contentsection {
  -webkit-animation-delay: 0.4s;
     -moz-animation-delay: 0.4s;
       -o-animation-delay: 0.4s;
          animation-delay: 0.4s; 
}
nav {
  -webkit-animation-delay: 0.8s;
     -moz-animation-delay: 0.8s;
       -o-animation-delay: 0.8s;
          animation-delay: 0.8s;  
}