<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="{{ page.title | downcase }}">

    {{ content }}

    <nav>
      <div class="nav-logo">
        {% include logo.html %}
      </div>

      {% comment %}/// if page.redirect value exists, display link to said URL ///{% endcomment %}
      {% if page.redirect %}
        <a class="page-link" href="{{page.redirect}}">Click here if you're not redirected</a>
      {% comment %}/// otherwise, display normal navigation ///{% endcomment %}
      {% else %}
        <ul>
          <!-- <li class="nav-register"><a class="page-link" href="https://www.eventbrite.com/e/form-function-class-7-conference-tickets-24640606718#tickets" target="_blank">REGISTER NOW</a></li> -->
          <li class="nav-register"><a class="page-link" href="/reminders/">REMINDERS</a></li>

          {% assign pages = site.pages | sort:"weight" %}
          {% for thispage in pages %}
            {% comment %}/// if page.weight value exists, include in nav ///{% endcomment %}
            {% if thispage.title and thispage.weight %}             
              
                {% comment %}/// if current page is Home, don't display link to Home ///{% endcomment %}
                {% if page.title == "Home" and thispage.title != "Home" %}
                  <li><a href="{{ thispage.url }}">{{ thispage.title-link }}</a></li>
                {% comment %}/// otherwise, display everything ///{% endcomment %}
                {% elsif page.title != "Home" %}
                  <li><a href="{{ thispage.url }}">{{ thispage.title-link }}</a></li>
                {% endif %}

            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}

    </nav>

  </body>

<script>
  // GA: FFC7
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-22768469-2', 'auto');
  ga('send', 'pageview');
</script>
</html>