---
layout: default
---
<div class="mainarea" data-theme="greater" data-main="{{ page.main-color }}" data-border="{{ page.border-color }}" data-free="{{ page.free-color }}">
  <div class="mainarea-logo">
  	{% include logo.html %}
  </div>
  <section class="mainarea-contentsection">
    {{ content }}
  </section>
  <div class="mainarea-background">
    <svg class="mainarea-background-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 359.93 612"><title>great</title><polygon class="free" points="359.93 395.61 56.79 305.56 145.64 612 359.93 612 359.93 395.61"/><polygon class="border" points="105.52 358.58 359.93 437.66 359.93 337.47 66.87 253.67 0 320.54 83.34 612 184.3 612 105.52 358.58"/></svg>
  </div>
</div>