---
layout: default
---
<div class="mainarea" data-theme="slash" data-main="{{ page.main-color }}" data-border="{{ page.border-color }}" data-free="{{ page.free-color }}">
  <div class="mainarea-logo">
  	{% include logo.html %}
  </div>
  <section class="mainarea-contentsection">
    {{ content }}
  </section>
  <div class="mainarea-background">
    <svg class="mainarea-background-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 399.56 612"><title>slash</title><polygon class="border" points="308.02 0 213.75 0 0 612 92.78 612 308.02 0"/><polygon class="free" points="399.56 0 278.73 0 62.42 612 399.56 612 399.56 0"/></svg>
  </div>
</div>